<h2>Welcome to PayIt!</h2>
<p>PayIt allows companies to route their employee spend items such as Invoice and Purchase request through PayIt's powerful approval and payment engines.</p>
<p>
  The time is now: <%= Time.now %>
</p>
